/**
 * Bootstrap Rewrite
 */
@media (min-width: 1680px) {
    .container {
        width: 1500px;
    }
}
@media (min-width: 2560px) {
    .container {
        width: 2000px;
    }
}
.btn {
    outline: none;
    transition: ease .3s;
}
.btn-primary,
.btn-danger {
    border-color: #ff5a05 !important;
    background-color: #ff5a05 !important;
}
.btn-primary:hover,
.btn-danger:hover {
    border-color: #ff5a05 !important;
    background-color: #ff5a05 !important;
}
.btn:focus,
.btn-default:focus,
.btn-primary:focus,
.btn-danger:focus {
    outline: none !important;
}
.btn:active,
.btn-default:active,
.btn-primary:active,
.btn-danger:active {
    outline: none !important;
}
.btn:visited,
.btn-default:visited,
.btn-primary:visited,
.btn-danger:visited {
    outline: none !important;
}
.form-control {
    border: 1px solid #d6d8d8;
    box-shadow: none;
}
.form-control:focus {
    border: 1px solid #999;
    box-shadow: none;
}
.alert {
    padding: 12px;
    font-size: 12px;
}
.pagination span,
.pagination a {
    padding: 8px 14px;
    color: #999 !important;
}
.pagination li.active span {
    color: #fff !important;
    border: 1px solid #ff5a05 !important;
    background-color: #ff5a05 !important;
}

/**********************************************************************************************************************/

/**
 * Global
 */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFangSC-Regular", "PingFang SC", "Hiragino Sans GB", "Heiti SC",
    "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
a {
    color: #666;
    text-decoration: none;
    transition: .2s ease-in-out;
}
a:hover {
    color: #ff5a05;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:focus {
    color: #666;
    text-decoration: none;
    outline: none;
}
button:hover {
    color: #fff;
    text-decoration: none;
}
button:link {
    color: #fff;
    text-decoration: none;
}
button:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}
button:visited {
    color: #fff;
    text-decoration: none;
}
button:active {
    color: #fff;
    background-color: #ff5a05;
    text-decoration: none;
}

/**
 * Common
 */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/**
 * Common Components
 */
.document-block {
    padding-top: 90px;
    padding-bottom: 20px;
}
.document-block .main {
    margin: 0 auto;
    padding: 60px 40px;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}
.user-block {
    padding-top: 90px;
    padding-bottom: 20px;
}
.user-block .main {
    margin: 0 auto;
    padding: 60px 40px;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}
.bg {
    background-color: #f5f5f5;
}
.not-found {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.not-found img {
    margin-bottom: 40px;
    width: 120px;
}
.not-found strong {
    color: #ff5a05;
}
.not-found .redirect {
    padding-top: 20px;
    font-size: 12px;
    color: #666;
}
.toolbar-block {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}
.toolbar-block.question {
    margin-bottom: 50px;
}
.toolbar-block a {
    display: block;
    padding: 10px 15px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #d6d8d8;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
}
.toolbar-block a:hover {
    color: #333;
    background-color: #f5f5f5;
    text-decoration: none;
}
.toolbar-block a img {
    margin-right: 5px;
    width: 20px;
}
.toolbar-block a span {
    vertical-align: middle;
}
.search-form {
    position: relative;
    padding: 10px;
    width: 700px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 30px rgba(0,0,0,.05);
    background-color: #fff;
    transition: all .3s ease;
}
.search-form.-active {
    border: 1px solid #ff5a05;
    box-shadow: 0 0 30px rgba(0,0,0,.01);
}
.search-form input {
    height: 40px;
    font-size: 18px;
    margin-left: 20px;
    width: calc(100% - 70px);
    font-family: PingFangSC-Regular, "Microsoft YaHei", sans-serif;
    font-weight: 100;
    border: none;
    outline: none;
    background-color: transparent;
}
.search-form input::placeholder {
    color: #ddd;
}
.search-form a {
    position: absolute;
    display: block;
    top: 4px;
    right: 4px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 30px;
    color: #fff;
    background-color: #ff5a05;
    text-align: center;
    transition: all .3s ease;
}
.search-form a:hover {
    background-color: #ff773f;
}
.search-filter > .headline {
    display: inline-block;
}
.search-filter > .headline.-last {
    margin-left: 20px;
}
.search-filter > .btn-group {
    margin-right: 5px;
}
.search-filter > .btn-group > .btn {
    padding: 5px 15px;
    font-size: 14px;
}
.search-filter > .btn-group > .btn .caret {
    margin-left: 5px;
}
.search-filter .btn-remove {
    display: none;
    padding: 5px 15px;
    margin-left: 20px;
    background-color: #ff5a05;
    border: 1px solid #ff5a05;
}
.search-list .item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #e6e6e6;
}
.search-list .item:last-child {
    border-bottom: none;
}
.search-list .item .mode {
    float: left;
    margin-right: 20px;
}
.search-list .item .mode span {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 5px;
}
.search-list .item .mode img {
    width: 26px;
}
.search-list .item .wrapper {
    float: left;
    margin-right: 30px;
    width: 650px;
}
.search-list .item .wrapper .name {
    margin-bottom: 10px;
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
}
.search-list .item .wrapper .referrer {
    margin-bottom: 8px;
    color: #bbb;
}
.search-list .item .wrapper .referrer a {
    font-size: 14px;
    color: #bbb;
    word-break: break-all;
    word-wrap: break-word;
}
.search-list .item .wrapper .referrer span {
    font-size: 12px;
    color: #bbb;
}
.search-list .item .wrapper .subnodes {
    padding: 10px 15px;
    font-size: 12px;
    color: #bbb;
    background-color: #fcfcfc;
    border-radius: 3px;
}
.search-list .item .wrapper .subnodes p {
    margin: 5px 0;
}
.search-list .item .wrapper .info {
    display: block;
    margin-top: 30px;
    font-size: 12px;
}
.search-list .item .wrapper .info .vote {
    margin-right: 10px;
    padding: 7px 8px 5px 10px;
    color: #999;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.search-list .item .wrapper .info .vote .voted {
    color: #666;
}
.search-list .item .wrapper .info .vote .up {
    margin-right: 8px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.search-list .item .wrapper .info .vote .up:hover,
.search-list .item .wrapper .info .vote .down:hover {
    color: #666;
}
.search-list .item .wrapper .info .vote .down {
    cursor: pointer;
    transition: .2s ease-in-out;
}
.search-list .item .wrapper .info .pea {
    padding: 7px 8px 5px 30px;
    color: #666;
    background: #f8f8f8 url(/share/images/pea.png) no-repeat 7px;
    background-size: 16px 16px;
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
}
.search-list .item .wrapper .info .btn-buy {
    margin-right: 10px;
    padding: 7px 8px 5px;
    color: #666;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    transition: .3s ease-in-out;
}
.search-list .item .wrapper .info .btn-buy:hover {
    cursor: pointer;
    background-color: #e1e1e1;
}
.search-list .item .wrapper .info .btn-open {
    margin-right: 10px;
    padding: 7px 8px 5px;
    color: #fff;
    background-color: #ff773f;
    border: 1px solid #ff5a05;
    border-left: none;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    transition: .3s ease-in-out;
}
.search-list .item .wrapper .info .btn-open:hover {
    cursor: pointer;
    background-color: #ff5a05;
}
.search-list .item .wrapper .info .size {
    margin-right: 10px;
    padding: 7px 8px 5px 30px;
    color: #666;
    background: #f8f8f8 url(/share/images/size.png) no-repeat 7px;
    background-size: 16px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    vertical-align: middle;
}
.search-list .item .wrapper .info .code {
    margin-right: 10px;
    padding: 7px 8px 5px 30px;
    color: #666;
    background: #f8f8f8 url(/share/images/access-code.png) no-repeat 7px;
    background-size: 16px 16px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    vertical-align: middle;
}
.search-list .item .size span {
    display: inline-block;
    margin-right: 6px;
    padding: 3px 6px;
    font-size: 12px;
    color: #666;
    background-color: #ddd;
    border-radius: 3px;
}
.search-list .item .wrapper .info .block {
    margin-right: 10px;
    padding: 7px 8px 5px 10px;
    color: #666;
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: .2s ease-in-out;
}
.search-list .item .wrapper .info .block:hover {
    color: #333;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.search-list .item .wrapper .info .block.-highlighted{
    color: #ff5a05 !important;
    border: 1px solid #ff5a05;
}
.search-list .item .wrapper .info .block .icon {
    margin-right: 3px;
}
.search-list .item .wrapper .info .block.low-quality .text {
    display: none;
}
.search-list .item .wrapper .info .block.low-quality .text.-shown {
    display: inline-block;
}
.search-list .item .wrapper .auto-refund {
    display: none;
}
.search-list .item .wrapper .auto-refund.-shown {
    display: inline;
}
.search-list .item .share {
    float: left;
    margin-right: 20px;
    width: 140px;
}
.search-list .item .share .user {
    display: block;
    margin: 5px auto 5px;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.search-list .item .share .share-time {
    display: block;
    margin: 5px auto 5px;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.search-list .item .operation {
    float: left;
    padding-top: 3px;
    width: 30px;
    text-align: right;
}
.search-list .item .operation .more {
    display: block;
    color: #999;
}
.search-list .item em {
    font-style: normal;
    font-weight: bold;
    color: #ff773f;
}
.pagination-block .pagination {
    margin-top: 0;
    margin-bottom: 0;
}
.pagination-block span,
.pagination-block a {
    padding: 8px 14px;
}
.anonymous-block {
    position: absolute;
    padding-top: 70px;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: opacity 200ms ease-in-out;
    background-color: #f5f5f5;
}
.anonymous-block .header {
    position: relative;
    margin: 0 auto;
    padding: auto;
    width: auto;
    height: auto;
    text-align: center;
    background-color: transparent;
    border: none;
    z-index: 1000;
}
.anonymous-block .header .logo {
    margin: 0 auto;
    width: 80px;
    height: auto;
}
.anonymous-block .main {
    margin: 20px auto 0;
    padding: 30px;
    width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.05);
    z-index: 1000;
}
.anonymous-block .main .tab {
    font-size: 16px;
    color: #999;
    border-bottom: 1px solid #d6d8d8;
}
.anonymous-block .main .tab span {
    display: inline-block;
    margin-right: 25px;
    padding: 0 0 15px 0;
}
.anonymous-block .main .tab .active {
    color: #333;
    border-bottom: 3px solid #333;
}
.anonymous-block .main .anonymous-form {
    margin-top: 30px;
}
.anonymous-block .form-control {
    padding: 10px 12px;
    height: auto;
    font-size: 14px;
    color: #000;
    border: 1px solid #d6d8d8;
    border-radius: 3px;
    background-color: transparent;
}
.anonymous-block .form-control::placeholder {
    color: #999;
}
.anonymous-block .btn {
    padding: 10px 12px;
    border-radius: 3px;
}
.anonymous-block .btn-primary {
    font-weight: bold;
    color: #fff;
    background-color: #ff5a05;
    border: 1px solid #ff5a05;
}
.anonymous-block .btn-primary:hover {
    background-color: #ff5a05;
}
.anonymous-block .btn-default {
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ff5a05;
}
.anonymous-form .column {
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    line-height: 22px;
}
.anonymous-form .column input {
    margin-top: 0;
    margin-right: 2px;
    vertical-align: text-top;
    height: 14px;
}
.header-block {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    z-index: 2;
}
.header-block .logo {
    margin: 10px;
    height: 30px;
}
.header-block .logo img {
    height: 100%;
}
.header-block .search-form {
    margin: 4px auto;
    width: 100%;
    max-width: 500px;
    height: 44px;
    text-align: left;
}
.header-block .search-form input {
    height: 24px;
    font-size: 16px;
    margin-left: 14px;
    width: calc(100% - 50px);
}
.header-block .search-form a {
    width: 34px;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
}
.header-block .client {
    display: inline-block;
    margin-right: 40px;
    padding: 4px 20px 2px;
    text-align: left;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f5f5f5;
    vertical-align: middle;
}
.header-block .client .icon {
    margin-top: 4px;
    margin-right: 8px;
    font-size: 28px;
    color: #999;
}
.header-block .client .title {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}
.header-block .client .description {
    display: block;
    font-size: 12px;
    color: #999;
}
.header-block .login {
    margin: 10px;
}
.header-block .notice .icon {
    margin: 5px;
    font-size: 26px;
    color: #b5b5b5;
    vertical-align: middle;
}
.header-block .user .icon {
    margin: 5px;
    font-size: 40px;
    color: #b5b5b5;
    vertical-align: middle;
}
.new-feature-block .title {
    margin: 20px auto 40px;
    font-size: 24px;
    color: #333;
    text-align: center;
}
.new-feature-block .cover {
    margin: 0 auto 20px;
    text-align: center;
}
.new-feature-block .cover img {
    width: 80%;
}
.new-feature-block .modal-footer {
    text-align: center;
}
.new-feature-block .btn-lg {
    width: 30%;
}
.user-switch {
    margin: 0 auto 60px;
    text-align: center;
}
.user-switch a {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #666;
    border: 1px solid #b6b6b6;
}
.user-switch a.-active {
    background-color: #e6e6e6;
}
.content-document .main h1 {
    margin: 0 auto 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    text-align: center;
}
.content-document .main .section {
    margin-bottom: 30px;
}
.content-document .main .section:last-child {
    margin-bottom: 0;
}
.content-document .main .title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
.content-document .main .title.-clickable {
    cursor: pointer;
}
.content-document .main .title .expand-tip {
    margin-left: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.content-document .main .content {
    display: none;
    padding: 15px;
    color: #999;
    line-height: 1.8;
    background-color: #fcfcfc;
    border-radius: 3px;
}
.content-document .main .content.-shown {
    display: block;
}

/**
 * Home Index
 */
.page-home-index .header {
    margin: 0 auto;
    padding: 15px;
    text-align: right;
}
.page-home-index .header .btn-login {
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
}
.page-home-index .header .btn-login:hover {
    color: #333;
    border: 1px solid #ddd;
}
.page-home-index .header .user .icon {
    font-size: 40px;
    color: #b5b5b5;
}
.page-home-index .logo {
    margin: 100px auto 60px;
    width: 251px;
    height: 60px;
    background: url(/web/images/logo.png) no-repeat center center;
}
.page-home-index .search-form {
    margin: 40px auto;
}
.page-home-index .help {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.page-home-index .help .block {
    padding: 15px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    background-color: #fff;
}
.page-home-index .help .block:hover {
    color: #333;
}
.page-home-index .public-notice {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}
.page-home-index .public-notice a {
    color: #8a6d3b;
}
.page-home-index .tip {
    display: block;
    margin: 30px auto;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.page-home-index .tip a {
    color: #ff5a05;
}
.page-home-index .ad {
    display: block;
    margin: 40px auto;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.page-home-index .ad img {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.06);
}
.page-home-index .notice {
    margin: 40px auto;
    width: 800px;
    text-align: center;
}
.page-home-index .notice span {
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
    color: #999;
}
.page-home-index .notice .btn-login {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 3px;
}
.page-home-index .notice .btn-register {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #ff773f;
    background-color: #ff773f;
    border-radius: 3px;
}
.page-home-index .notice .tip {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}
.page-home-index .footer {
    position: absolute;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color: #999;
    text-align: center;
    background-color: #fff;
}
.page-home-index .footer a {
    margin-left: 10px;
    color: #999;
}
.page-home-index .footer a:hover {
    color: #333;
}
.page-home-index .footer p {
    margin: 5px 0;
}

/**
 * Home Bookmarklet
 */
.page-home-bookmarklet .main h1 {
    margin: 0 auto 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    text-align: center;
}
.page-home-bookmarklet .main h1 a {
    color: #ff5a05;
}
.page-home-bookmarklet .main .intro {
    margin: 0 auto;
    width: 900px;
    height: 600px;
    line-height: 600px;
    font-size: 20px;
    color: #999;
    text-align: center;
    background-color: #f1f1f1;
}
.page-home-bookmarklet .main .intro img {
    width: 100%;
    height: 100%;
}

/**
 * Home Roll Over
 */
.page-home-roll-over .main {
    text-align: center;
}

/**
 * Home Block
 */
.page-home-block .main {
    text-align: center;
}

/**
 * Home Search
 */
.page-home-search .main {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}
.page-home-search .main .search-filter {
    float: left;
    min-width: 780px;
}
.page-home-search .main .count {
    float: right;
    padding-top: 8px;
    min-width: 140px;
    font-size: 12px;
    color: #999;
    text-align: right;
}
.page-home-search .main .search-list {
    margin-top: 40px;
}
.page-home-search .main .pagination-block {
    margin: 0 auto;
}

/**
 * Query Index
 */
.page-query-index .main h1 {
    margin-bottom: 15px;
}
.page-query-index .main h2 {
    margin: 0 auto 40px;
    font-weight: normal;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.page-query-index .main h2 strong {
    color: #666;
}
.page-query-index .main table .word {
    text-align: left;
}
.page-query-index .main table .number {
    width: 20%;
    text-align: right;
}
.page-query-index .main table th a {
    color: #333;
}
.page-query-index .main table th a:hover {
    color: #333;
}
.page-query-index .main table th span.glyphicon {
    font-size: 12px;
    color: #a6a6a6;
}
.page-query-index .main table th span.-active {
    color: #333;
}
.page-query-index .main table td.number {
    color: #999;
}
.page-query-index .pagination-block {
    margin: 40px auto 0;
    text-align: center;
}

/**
 * User Dashboard
 */
.page-user-dashboard .main .account .avatar {
    margin: 0 auto;
    padding: 2px;
    width: 126px;
    height: 126px;
    border-radius: 126px;
    border: 1px solid #dee0e5;
    text-align: center;
}
.page-user-dashboard .main .account .avatar .icon {
    font-size: 120px;
    color: #b5b5b5;
}
.page-user-dashboard .main .account .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 58px;
}
.page-user-dashboard .main .account .email {
    margin: 25px auto 5px;
    font-size: 18px;
    color: #333333;
    text-align: center;
}
.page-user-dashboard .main .account .email .icon {
    font-size: 26px;
    vertical-align: middle;
}
.page-user-dashboard .main .account .name {
    margin: 10px auto 40px;
    color: #999;
    text-align: center;
}
.page-user-dashboard .main .account .operation {
    margin: 0 auto;
    text-align: center;
}
.page-user-dashboard .main .account .operation a {
    display: inline-block;
    padding: 9px 30px 7px;
    font-size: 14px;
    color: #999;
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 3px;
}
.page-user-dashboard .main .account .operation a:hover {
    color: #666;
    background-color: #fff;
}
.page-user-dashboard .main .account .operation .small {
    font-size: 12px;
}
.page-user-dashboard .main .account .operation .expired {
    color: red;
}

/**
 * User Verify Email
 */
.page-user-verify-email .main {
    text-align: center;
}
.page-user-verify-email .main .top {
    margin-bottom: 40px;
}
.page-user-verify-email .main .top .icon {
    font-size: 100px;
}
.page-user-verify-email .main .content {
    margin-bottom: 20px;
}
.page-user-verify-email .main .action a {
    font-size: 12px;
}

/**
 * User State
 */
.page-user-state .main .cards.container {
    width: 860px;
}
.page-user-state .main .card {
    position: relative;
    padding: 40px 20px;
    text-align: center;
    background-color: #f6f6f6;
    border-radius: 3px;
}
.page-user-state .main .card .value {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
.page-user-state .main .card .value.-highlighted {
    color: #ff5a05;
}
.page-user-state .main .card .value .small {
    font-size: 12px;
    color: #999;
}
.page-user-state .main .card .title {
    display: block;
    font-size: 12px;
    color: #999;
}
.page-user-state .main .card .action {
    position: absolute;
    top: 10px;
    right: 10px;
}
.page-user-state .main .card .action button {
    padding: 4px 8px;
    font-size: 12px;
    color: #999;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 5px;
}

/**
 * User Shared Resource
 */
.page-user-shared-resource .main .items {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-shared-resource .main .blank {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-shared-resource .main .deleted {
    text-decoration: line-through;
}
.page-user-shared-resource table {
    font-size: 12px;
}
.page-user-shared-resource table td {
    color: #999;
}
.page-user-shared-resource table td.normal {
    color: green;
}
.page-user-shared-resource table td.shielded {
    color: red;
}
.page-user-shared-resource .pagination-block {
    margin: 40px auto 0;
    text-align: center;
}

/**
 * User Purchased Resource
 */
.page-user-purchased-resource .main .items {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-purchased-resource .main .blank {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-purchased-resource .main .deleted {
    text-decoration: line-through;
}
.page-user-purchased-resource table {
    font-size: 12px;
}
.page-user-purchased-resource table td {
    color: #999;
}

/**
 * User Sold Resource
 */
.page-user-sold-resource .main .items {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-sold-resource .main .blank {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-sold-resource .main .deleted {
    text-decoration: line-through;
}
.page-user-sold-resource table {
    font-size: 12px;
}
.page-user-sold-resource table td {
    color: #999;
}

/**
 * User Pea Change History
 */
.page-user-pea-change-history .main .blank {
    margin: 0 auto;
    color: #999;
    text-align: center;
}
.page-user-pea-change-history table {
    font-size: 12px;
}
.page-user-pea-change-history table td {
    color: #999;
}
.page-user-pea-change-history table td.in {
    color: green;
}
.page-user-pea-change-history table td.out {
    color: red;
}

/* User Renew Dialog */
.user-renew-dialog .summary {
    margin: 10px auto 20px;
    text-align: center;
}
.user-renew-dialog .summary strong {
    font-size: 16px;
}
.user-renew-dialog .guide {
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    color: #ff5a05;
    border: 1px solid #ff5a05;
}
.user-renew-dialog .summary .expired {
    color: red;
}
.user-renew-dialog .pea-card {
    margin: 20px auto;
    text-align: center;
}
.user-renew-dialog .pea-card .card {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 165px;
    color: #fff;
    text-align: center;
    border: 1px solid #e6e8e8;
    border-radius: 5px;
    background-color: #483b52;
}
.user-renew-dialog .pea-card .card .type {
    display: block;
    margin: 0 auto 10px;
    font-size: 14px;
    color: #eee;
    text-align: center;
}
.user-renew-dialog .pea-card .card .price {
    display: block;
    margin: 0 auto 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.user-renew-dialog .pea-card .card .price .original {
    font-size: 12px;
    color: #f1f1f1;
    font-weight: normal;
    text-decoration: line-through;
}
.user-renew-dialog .pea-card .card .buy {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 12px;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    text-align: center;
    background-color: #483b52;
}
.user-renew-dialog .pea-card .card .promotion {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    font-size: 12px;
    background-color: red;
}
.user-renew-dialog .feedback a {
    padding: 5px 10px;
    font-size: 12px;
    color: #999;
    line-height: 30px;
    border: 1px solid #999;
}
.user-renew-dialog .feedback a:hover {
    color: #999;
}

/* Renew Intro Dialog */
.renew-intro-dialog .notice {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}
.renew-intro-dialog .notice span {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #999;
}
.renew-intro-dialog .notice img {
    display: block;
    margin: 0 auto 40px;
    width: 260px;
}
.renew-intro-dialog .notice .btn-login {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 3px;
}
.renew-intro-dialog .notice .btn-register,
.renew-intro-dialog .notice .btn-renew {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #ff773f;
    background-color: #ff773f;
    border-radius: 3px;
}